@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


$background: rgba(17, 21, 24, 0.85);

.formContainer {
    background-color: $background;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding: 30px;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

    .formWrapper2 {
        height: 630px;
        width: 400px;
        background-color: rgba(255, 255, 255, 0.13);
        position: absolute;
        transform: translate(-50%, -50%);
        top: 55%;
        left: 50%;
        flex-direction: column;
        gap: 10px;
        display: flex;
        align-items: center;
        border: 2px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(to right, yellow, red);
        border-radius: 10px;
        backdrop-filter: blur(10px);
        box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
        padding: 50px 35px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        overflow: hidden;
        animation: fadeIn 0.6s ease-in-out;

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translate(-50%, -60%);
            }

            to {
                opacity: 1;
                transform: translate(-50%, -50%);
            }
        }

        .logo {
            font-size: 25px;
            font-weight: 500;
            line-height: 42px;
            text-align: center;
            color: #fdc9c9;
        }

        .smalltext {
            color: #fdc9c9;
            font-size: 16px;
        }

        .auth-link {
            color: #fdf5a9;
        }

        .google-signin-btn {
            display: flex;
            align-items: center;
            background-color: white;
            color: black;
            border: 1px solid black;
            border-radius: 5px;
            padding: 8px 16px;
            font-weight: bold;
            cursor: pointer;
            gap: 10px;
        }

        .google-signin-icon {
            width: 24px;
            height: 24px;
        }

        .formlogin {
            height: 520px;
            width: 400px;
            background-color: rgba(38, 166, 91, 0.842);
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            display: flex;
            border-radius: 10px;
            backdrop-filter: blur(10px);
            border: 2px solid rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
            padding: 50px 35px;
            gap: 10px;
            align-items: center;
        }

        .formlabel {
            color: #ffffff;
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: 500;
        }

        .formbox {
            display: block;
            height: 50px;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 3px;
            padding: 0 10px;
            margin-top: 15px;
            font-size: 14px;
            font-weight: 300;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                padding: 15px;
                border: none;
                border-bottom: 1px solid #FFD700;
                /* Seafoam Green */
                width: 250px;

                &::placeholder {
                    color: rgba(184, 207, 196, 0.4);
                }
            }

            button {
                background-color: #121212;
                color: white;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }

            label {
                display: flex;
                align-items: center;
                gap: 10px;
                color: #28a07c;
                font-size: 14px;
                cursor: pointer;

                img {
                    width: 40px;
                }
            }
        }

        p {
            color: #b0c6de;
            font-size: 12px;
            margin-top: 10px;
        }
    }

    .formWrapper {
        height: 550px;
        width: 400px;
        background-color: rgba(255, 255, 255, 0.13);
        position: absolute;
        transform: translate(-50%, -50%);
        top: 55%;
        left: 50%;
        flex-direction: column;
        gap: 10px;
        display: flex;
        align-items: center;
        border: 2px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(to right, yellow, red);
        border-radius: 10px;
        backdrop-filter: blur(10px);
        box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
        padding: 50px 35px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        overflow: hidden;
        animation: fadeIn 0.6s ease-in-out;

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translate(-50%, -60%);
            }

            to {
                opacity: 1;
                transform: translate(-50%, -50%);
            }
        }

        .logo {
            font-size: 32px;
            font-weight: 500;
            line-height: 42px;
            text-align: center;
            color: #fdc9c9;
        }

        .smalltext {
            color: #fdc9c9;
            font-size: 16px;
        }

        .auth-link {
            color: #fdf5a9;
        }

        .google-signin-btn {
            display: flex;
            align-items: center;
            background-color: white;
            color: black;
            /* Seafoam Green */
            border: 1px solid #b0c6de;
            border-radius: 5px;
            padding: 8px 16px;
            font-weight: bold;
            cursor: pointer;
            gap: 10px;
        }

        .google-signin-icon {
            width: 24px;
            height: 24px;
        }

        .formlogin {
            height: 520px;
            width: 400px;
            background-color: rgba(38, 166, 91, 0.842);
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            display: flex;
            border-radius: 10px;
            backdrop-filter: blur(10px);
            border: 2px solid rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
            padding: 50px 35px;
            gap: 10px;
            align-items: center;
        }

        .formlabel {
            color: #ffffff;
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: 500;
        }

        .formbox {
            display: block;
            height: 50px;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 3px;
            padding: 0 10px;
            margin-top: 15px;
            font-size: 14px;
            font-weight: 300;
            color: #f0f0f0;
        }

        .logo {
            color: #fdc9c9;
            font-weight: bold;
            font-size: 24px;
        }

        .title {
            color: #f0f0f0;
            font-weight: bold;
            font-size: 12px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                padding: 15px;
                border: none;
                border-bottom: 1px solid #FFD700;
                width: 250px;

                &::placeholder {
                    color: rgba(184, 207, 196, 0.4);
                }
            }

            button {
                background-color: #121212;
                color: white;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }

            label {
                display: flex;
                align-items: center;
                gap: 10px;
                color: #28a07c;
                font-size: 14px;
                cursor: pointer;

                img {
                    width: 40px;
                }
            }
        }

        p {
            color: #b0c6de;
            font-size: 12px;
            margin-top: 10px;
        }
    }
}


.headernav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: rgba(0, 38, 77, 0);
    /* Dark Blue */
    color: #b0c6de;
    /* Lightgrayish Blue */
    transition: backdrop-filter 0.3s ease-in-out;
}

.nav-blur {
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav a {
    margin: 0 1rem;
    color: #b0c6de;
    /* Lightgrayish Blue */
    text-decoration: none;
}

.nav a:hover {
    color: gray;
}

.navlink-a,
.navlink-b,
.navlink-logout {
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
}

.navlink-logout {
    background-color: #12325c;
    /* Dark Blue */
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.navlink-logout:hover {
    background-color: #0a1f3d;
    /* Darker Blue */
}

.logoimg {
    width: 147.48px;
    height: 48.6px;
    border-radius: 8px;
}

.input {
    background-color: #12325c;
    /* Dark Blue */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    img {
        padding: 5px;
        width: 50px;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f1f47;
}