@mixin mobile{
    @media screen and (max-width: 480px){
        @content;
    }
}

@mixin tablet{
    @media screen and (max-width: 768px){
        @content;
    }
}

@mixin mobile{
    @media screen and (max-width: 1200px){
        @content;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');



.formContainer {
    background-color: rgba(0, 38, 77, 0.85); /* Dark Blue */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding: 30px;
    backdrop-filter: blur(10px); 
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); 

    .auth-blob {
        position: absolute;
        width: 400px; 
        height: 400px;
        background: linear-gradient(
            180deg,
            rgba(47, 184, 255, 0.42) 31.77%,
            #5dbb9d 100%
        );
        mix-blend-mode: color-dodge;
        animation: move 25s infinite alternate;
        transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
        z-index: -1;
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
    }

    .auth-blob:hover {
        width: 420px;
        height: 420px;
        filter: blur(30px);
        box-shadow:
            inset 0 0 0 5px rgba(255, 255, 255, 0.6),
            inset 100px 100px 0 0px #38a6ac,
            inset 200px 200px 0 0px #184f8d,
            inset 300px 300px 0 0px #2b86c5;
    }

    .shape {
        height: 200px;
        width: 200px;
        position: absolute;
        border-radius: 50%;
    }

    .shape:nth-child(1) {
        background: linear-gradient(#12264c, #193963); /* Dark Blue */
        left: 600px;
        top: 200px;
    }

    .shape:nth-child(2) {
        background: linear-gradient(#17b089, #28a07c); /* Seafoam Green */
        right: 630px;
        bottom: 80px;
    }

    .formWrapper2 {
        height: 630px;
        width: 400px;
        background-color: rgba(255, 255, 255, 0.13);
        position: absolute;
        transform: translate(-50%, -50%);
        top: 55%;
        flex-direction: column;
        gap: 10px;
        display: flex;
        align-items: center;
        left: 50%;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
        padding: 50px 35px;

        .logo {
            font-size: 25px;
            font-weight: 500;
            line-height: 42px;
            text-align: center;
            color: #f0f0f0; /* Lightgrayish Blue */
        }

        .smalltext {
            color: #b0c6de; /* Lightgrayish Blue */
            font-size: 16px;
        }

        .auth-link {
            color: #b0c6de; /* Lightgrayish Blue */
        }

        .google-signin-btn {
            display: flex;
            align-items: center;
            background-color: white;
            color: #28a07c; /* Seafoam Green */
            border: 1px solid #b0c6de;
            border-radius: 5px;
            padding: 8px 16px;
            font-weight: bold;
            cursor: pointer;
            gap: 10px;
        }

        .google-signin-icon {
            width: 24px;
            height: 24px;
        }

        .formlogin {
            height: 520px;
            width: 400px;
            background-color: rgba(38, 166, 91, 0.842); /* Seafoam Green */
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            display: flex;
            border-radius: 10px;
            backdrop-filter: blur(10px);
            border: 2px solid rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
            padding: 50px 35px;
            gap: 10px;
            align-items: center;
        }

        .formlabel {
            color: #b0c6de; /* Lightgrayish Blue */
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: 500;
        }

        .formbox {
            display: block;
            height: 50px;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.07);
            border-radius: 3px;
            padding: 0 10px;
            margin-top: 15px;
            font-size: 14px;
            font-weight: 300;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                padding: 15px;
                border: none;
                border-bottom: 1px solid #28a07c; /* Seafoam Green */
                width: 250px;

                &::placeholder {
                    color: rgba(184, 207, 196, 0.4);
                }
            }

            button {
                background-color: #12325c; /* Dark Blue */
                color: white;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }

            label {
                display: flex;
                align-items: center;
                gap: 10px;
                color: #28a07c; /* Seafoam Green */
                font-size: 14px;
                cursor: pointer;

                img {
                    width: 40px;
                }
            }
        }

        p {
            color: #b0c6de; /* Lightgrayish Blue */
            font-size: 12px;
            margin-top: 10px;
        }
    }

    .formWrapper {
        height: 550px;
        width: 400px;
        background-color: rgba(255, 255, 255, 0.13);
        position: absolute;
        transform: translate(-50%, -50%);
        top: 55%;
        flex-direction: column;
        gap: 10px;
        display: flex;
        align-items: center;
        left: 50%;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
        padding: 50px 35px;

        .logo {
            font-size: 32px;
            font-weight: 500;
            line-height: 42px;
            text-align: center;
            color: #f0f0f0; /* Lightgrayish Blue */
        }

        .smalltext {
            color: #b0c6de; /* Lightgrayish Blue */
            font-size: 16px;
        }

        .auth-link {
            color: #b0c6de; /* Lightgrayish Blue */
        }

        .google-signin-btn {
            display: flex;
            align-items: center;
            background-color: white;
            color: #28a07c; /* Seafoam Green */
            border: 1px solid #b0c6de;
            border-radius: 5px;
            padding: 8px 16px;
            font-weight: bold;
            cursor: pointer;
            gap: 10px;
        }

        .google-signin-icon {
            width: 24px;
            height: 24px;
        }

        .formlogin {
            height: 520px;
            width: 400px;
            background-color: rgba(38, 166, 91, 0.842); /* Seafoam Green */
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            display: flex;
            border-radius: 10px;
            backdrop-filter: blur(10px);
            border: 2px solid rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
            padding: 50px 35px;
            gap: 10px;
            align-items: center;
        }

        .formlabel {
            color: #b0c6de; /* Lightgrayish Blue */
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: 500;
        }

        .formbox {
            display: block;
            height: 50px;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 3px;
            padding: 0 10px;
            margin-top: 15px;
            font-size: 14px;
            font-weight: 300;
            color: #f0f0f0; /* Lightgrayish Blue */
        }

        .logo {
            color: #f0f0f0; /* Lightgrayish Blue */
            font-weight: bold;
            font-size: 24px;
        }

        .title {
            color: #f0f0f0; /* Lightgrayish Blue */
            font-weight: bold;
            font-size: 12px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                padding: 15px;
                border: none;
                border-bottom: 1px solid #28a07c;
                width: 250px;

                &::placeholder {
                    color: rgba(184, 207, 196, 0.4);
                }
            }

            button {
                background-color: #12325c; /* Dark Blue */
                color: white;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }

            label {
                display: flex;
                align-items: center;
                gap: 10px;
                color: #28a07c; /* Seafoam Green */
                font-size: 14px;
                cursor: pointer;

                img {
                    width: 40px;
                }
            }
        }

        p {
            color: #b0c6de; /* Lightgrayish Blue */
            font-size: 12px;
            margin-top: 10px;
        }
    }
}


.headernav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: rgba(0, 38, 77, 0); /* Dark Blue */
    color: #b0c6de; /* Lightgrayish Blue */
    transition: backdrop-filter 0.3s ease-in-out;
}

.nav-blur {
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav a {
    margin: 0 1rem;
    color: #b0c6de; /* Lightgrayish Blue */
    text-decoration: none;
}

.nav a:hover {
    color: gray;
}

.navlink-a,
.navlink-b,
.navlink-logout {
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
}

.navlink-logout {
    background-color: #12325c; /* Dark Blue */
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.navlink-logout:hover {
    background-color: #0a1f3d; /* Darker Blue */
}

.logoimg {
    width: 147.48px;
    height: 48.6px;
    border-radius: 8px;
}

.input {
    background-color: #12325c; /* Dark Blue */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    img {
        padding: 5px;
        width: 50px;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f1f47;
}

.upload-page {
    background-color: rgba(0, 38, 77, 0.85); /* Semi-transparent for glass effect */
    padding: 30px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #f0f0f0;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    position: relative; /* For positioning the blob */
    overflow: hidden; /* To contain the blob animation */
}

.input-container {
    text-align: center;
    margin-top: 50px;
    width: 100%;
    max-width: 800px;
}

.info-text {
    padding: 20px 2rem;
    font-size: 2rem;
    margin-bottom: 25px;
    span {
        font-weight: bold;
        color: #87CEEB;
    }
}

.send-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-input {
    width: 100%;
    max-width: 300px;
    padding: 12px 20px;
    font-size: 1rem;
    border: 2px solid #87CEEB;
    border-radius: 8px;
    background-color: rgba(47, 184, 255, 0.42); /* Semi-transparent for glass effect */
    color: whitesmoke;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    

    &:hover {
        background-color: rgba(224, 247, 255, 0.9);
        border-color: #63c0e8;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        color: slategray;
    }

    &:focus {
        outline: none;
        border-color: #4b9cd3;
        box-shadow: 0 0 0 3px rgba(75, 156, 211, 0.3);
    }
}

.upload-button, .download-button {
    background-color: rgba(47, 184, 255, 0.42);
    color: whitesmoke;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 30px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #63c0e8;
    }
}

.preview-image {
    max-width: 100px;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.status-message, .extra-info {
    font-size: 1.2rem;
    color: #ddd;
    margin-top: 15px;
    font-weight: 1000;
}

.drag-drop-area {
    width: 100%;
    max-width: 800px;
    height: 200px;
    border: 2px dashed #87CEEB;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    transition: background-color 0.3s;
    margin-bottom: 30px;
    background: rgba(0, 38, 77, 0.15); /* Semi-transparent */

    p {
        font-size: 1.2rem;
        color: #f0f0f0;
    }

    &.drag-over {
        background-color: rgba(135, 206, 235, 0.1);
    }
}

.scroll-down-arrow {
    cursor: pointer;
    font-size: 3rem;
    color: #f0f0f0;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.3s ease;

    &:hover {
        transform: translateX(-50%) translateY(-5px);
    }
}

/* Instructions Section */
.instructions-section {
    background-color: whitesmoke;
    padding: 50px 20px;
    width: 100%;
    text-align: center;
    color: #333;
    margin-top: 0px;
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.instructions-title {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
    align-items: center;
    color: rgba(0, 38, 77, 0.85);
}

.instruction-step {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    text-align: left;

    .step-text {
        width: 50%;
        h3 {
            font-size: 1.5rem;
            margin-bottom: 10px;
            color: rgba(0, 38, 77, 0.85);
        }
        p {
            font-size: 1.2rem;
            color: rgba(0, 38, 77, 0.85);
        }
    }

    .slanted-image {
        width: 40%;
        transform: rotateY(15deg);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
        border-radius: 8px;
    }
}

.alternate .step-text {
    order: 2;
    text-align: left;
}

/* Animated Blob */
.blob {
    position: absolute;
    width: 500px;
    height: 500px;
    background: linear-gradient(
        180deg,
        rgba(47, 184, 255, 0.42) 31.77%,
        #5c9df1 100%
    );
    mix-blend-mode: color-dodge;
    animation: move 25s infinite alternate;
    transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
    z-index: -1;
}

.blob:hover {
    width: 520px;
    height: 520px;
    filter: blur(30px);
    box-shadow:
        inset 0 0 0 5px rgba(255, 255, 255, 0.6),
        inset 100px 100px 0 0px #fa709a,
        inset 200px 200px 0 0px #784ba8,
        inset 300px 300px 0 0px #2b86c5;
}

@keyframes move {
    from {
        transform: translate(-100px, -50px) rotate(-90deg);
        border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }

    to {
        transform: translate(500px, 100px) rotate(-10deg);
        border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
}

@media (max-width: 768px) {
    .instruction-step {
        flex-direction: column;
        text-align: center;

        .step-text {
            width: 100%;
            text-align: center;
        }

        .slanted-image {
            width: 80%;
            margin-top: 20px;
            transform: rotateY(0);
        }
    }

    .drag-drop-area {
        width: 90%;
        height: 150px;
    }
}

//--------------------------- home -----------------
.homepage-container {
    font-family: 'Poppins', sans-serif;
    color: white;

    .hero-section {
        position: relative;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(135deg, #12264c, #1c3b5d, #234d6c); /* Dark Blue Gradient */
        overflow: hidden;

        .background-video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.2;
            filter: blur(2px);
        }

        .hero-content {
            position: relative;
            z-index: 2;
            text-align: center;
            align-items: center;
            max-width: 700px;
            color: #f0f0f0; /* Lightgrayish Blue */
            animation: fadeIn 2s ease-in-out;

            h1.hero-title {
                font-size: 7rem;
                font-weight: 600;
                margin-bottom: 15px;
                text-shadow: 0px 0px 20px rgba(0, 255, 255, 0.7);
            }

            .heroimg {
                width: 737.4px;
                height: 243px;
                margin-right: 10px;
            }

            p.hero-subtitle {
                font-size: 1.5rem;
                margin-bottom: 20px;
                color: #a0c4ff;
            }

            .start-button {
                padding: 15px 30px;
                font-size: 1.2rem;
                background: linear-gradient(45deg, #28a07c, #0a1f3d); /* Seafoam Green to Dark Blue */
                border: none;
                border-radius: 30px;
                color: white;
                cursor: pointer;
                align-items: center;
                box-shadow: 0 5px 15px rgba(47, 184, 255, 0.3); /* Seafoam Green */
                transition: all 0.3s ease;

                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 5px 20px rgba(38, 166, 91, 0.5); /* Seafoam Green */
                }
            }
        }
    }

    .tutorial-section {
        padding: 60px 20px;
        text-align: center;
        background: #1c1c1c;
        color: #f0f0f0; /* Lightgrayish Blue */

        h2 {
            font-size: 2.5rem;
            margin-bottom: 40px;
            text-shadow: 0px 0px 10px rgba(0, 255, 255, 0.6); /* Blue shadow */
        }

        .video-container {
            position: relative;
            display: flex;
            justify-content: center;

            .tutorial-video {
                width: 80%;
                height: 400px;
                border: 3px solid #28a07c; /* Seafoam Green */
                border-radius: 15px;
                box-shadow: 0px 0px 15px rgba(0, 255, 255, 0.5); /* Light blue glow */
            }

            .left-design-element,
            .right-design-element {
                width: 50px;
                height: 50px;
                background: #28a07c; /* Seafoam Green */
                border-radius: 50%;
                position: absolute;
                box-shadow: 0 0 15px rgba(38, 166, 91, 0.6);
            }

            .left-design-element {
                left: -60px;
                top: 100px;
            }

            .right-design-element {
                right: -60px;
                top: 100px;
            }
        }
    }

    .viewer-section {
        padding: 60px 20px;
        text-align: center;
        background: linear-gradient(135deg, #12264c, #1c3b5d, #234d6c); /* Dark Blue Gradient */
        color: #f0f0f0; /* Lightgrayish Blue */

        h2 {
            font-size: 2.5rem;
            margin-bottom: 40px;
            text-shadow: 0px 0px 10px rgba(0, 255, 255, 0.6); /* Blue glow */
        }

        .model-viewer {
            width: 100%;
            height: 500px;
            background-color: #1c1c1c;
            border: 3px solid #28a07c; /* Seafoam Green */
            border-radius: 15px;
            box-shadow: 0px 0px 15px rgba(38, 166, 91, 0.5); /* Seafoam Green */
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

.credits-section {
    padding: 50px 20px;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;

    h2 {
        font-size: 2.5rem;
        margin-bottom: 40px;
        text-shadow: 0px 0px 10px rgba(0, 255, 255, 0.6);
    }

    .credits-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;

        .credit-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #1c1c1c;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0px 0px 15px rgba(0, 255, 255, 0.5);
            max-width: 250px;
            color: #f0f0f0; /* Lightgrayish Blue */

            .credit-image {
                width: 150px;
                height: 150px;
                object-fit: cover;
                border-radius: 50%;
                margin-bottom: 15px;
                box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
            }

            .credit-details {
                text-align: center;

                h3 {
                    font-size: 1.5rem;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 1rem;
                    margin: 5px 0;
                }
            }
        }
    }
}
// original


// @mixin mobile{
//     @media screen and (max-width: 480px){
//         @content;
//     }
// }

// @mixin tablet{
//     @media screen and (max-width: 768px){
//         @content;
//     }
// }

// @mixin mobile{
//     @media screen and (max-width: 1200px){
//         @content;
//     }
// }

// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// .formContainer {
//     background-color: rgba(0, 38, 77, 0.85); /* Dark Blue */
//     height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     position: relative;
//     overflow: hidden;
//     padding: 30px;
//     backdrop-filter: blur(10px); 
//     border-radius: 15px;
//     box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); 

//     .auth-blob {
//         position: absolute;
//         width: 400px; 
//         height: 400px;
//         background: linear-gradient(
//             180deg,
//             rgba(38, 166, 91, 0.42) 31.77%, /* Seafoam Green */
//             #5dbb9d 100%
//         );
//         mix-blend-mode: color-dodge;
//         animation: move 25s infinite alternate;
//         transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
//         z-index: -1;
//         bottom: 20%;
//         left: 50%;
//         transform: translateX(-50%);
//     }

//     .auth-blob:hover {
//         width: 420px;
//         height: 420px;
//         filter: blur(30px);
//         box-shadow:
//             inset 0 0 0 5px rgba(255, 255, 255, 0.6),
//             inset 100px 100px 0 0px #38a6ac,
//             inset 200px 200px 0 0px #184f8d,
//             inset 300px 300px 0 0px #2b86c5;
//     }

//     .shape {
//         height: 200px;
//         width: 200px;
//         position: absolute;
//         border-radius: 50%;
//     }

//     .shape:nth-child(1) {
//         background: linear-gradient(#12264c, #193963); /* Dark Blue */
//         left: 600px;
//         top: 200px;
//     }

//     .shape:nth-child(2) {
//         background: linear-gradient(#17b089, #28a07c); /* Seafoam Green */
//         right: 630px;
//         bottom: 80px;
//     }

//     .formWrapper2 {
//         height: 630px;
//         width: 400px;
//         background-color: rgba(255, 255, 255, 0.13);
//         position: absolute;
//         transform: translate(-50%, -50%);
//         top: 55%;
//         flex-direction: column;
//         gap: 10px;
//         display: flex;
//         align-items: center;
//         left: 50%;
//         border-radius: 10px;
//         backdrop-filter: blur(10px);
//         border: 2px solid rgba(255, 255, 255, 0.1);
//         box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
//         padding: 50px 35px;

//         .logo {
//             font-size: 25px;
//             font-weight: 500;
//             line-height: 42px;
//             text-align: center;
//             color: #f0f0f0; /* Lightgrayish Blue */
//         }

//         .smalltext {
//             color: #b0c6de; /* Lightgrayish Blue */
//             font-size: 16px;
//         }

//         .auth-link {
//             color: #b0c6de; /* Lightgrayish Blue */
//         }

//         .google-signin-btn {
//             display: flex;
//             align-items: center;
//             background-color: white;
//             color: #28a07c; /* Seafoam Green */
//             border: 1px solid #b0c6de;
//             border-radius: 5px;
//             padding: 8px 16px;
//             font-weight: bold;
//             cursor: pointer;
//             gap: 10px;
//         }

//         .google-signin-icon {
//             width: 24px;
//             height: 24px;
//         }

//         .formlogin {
//             height: 520px;
//             width: 400px;
//             background-color: rgba(38, 166, 91, 0.842); /* Seafoam Green */
//             position: absolute;
//             transform: translate(-50%, -50%);
//             top: 50%;
//             left: 50%;
//             display: flex;
//             border-radius: 10px;
//             backdrop-filter: blur(10px);
//             border: 2px solid rgba(255, 255, 255, 0.1);
//             box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
//             padding: 50px 35px;
//             gap: 10px;
//             align-items: center;
//         }

//         .formlabel {
//             color: #b0c6de; /* Lightgrayish Blue */
//             display: block;
//             margin-top: 10px;
//             margin-bottom: 10px;
//             font-size: 20px;
//             font-weight: 500;
//         }

//         .formbox {
//             display: block;
//             height: 50px;
//             width: 100%;
//             background-color: rgba(0, 0, 0, 0.07);
//             border-radius: 3px;
//             padding: 0 10px;
//             margin-top: 15px;
//             font-size: 14px;
//             font-weight: 300;
//         }

//         form {
//             display: flex;
//             flex-direction: column;
//             gap: 15px;

//             input {
//                 padding: 15px;
//                 border: none;
//                 border-bottom: 1px solid #28a07c; /* Seafoam Green */
//                 width: 250px;

//                 &::placeholder {
//                     color: rgba(184, 207, 196, 0.4);
//                 }
//             }

//             button {
//                 background-color: #12325c; /* Dark Blue */
//                 color: white;
//                 padding: 10px;
//                 font-weight: bold;
//                 border: none;
//                 cursor: pointer;
//             }

//             label {
//                 display: flex;
//                 align-items: center;
//                 gap: 10px;
//                 color: #28a07c; /* Seafoam Green */
//                 font-size: 14px;
//                 cursor: pointer;

//                 img {
//                     width: 40px;
//                 }
//             }
//         }

//         p {
//             color: #b0c6de; /* Lightgrayish Blue */
//             font-size: 12px;
//             margin-top: 10px;
//         }
//     }

//     .formWrapper {
//         height: 550px;
//         width: 400px;
//         background-color: rgba(255, 255, 255, 0.13);
//         position: absolute;
//         transform: translate(-50%, -50%);
//         top: 55%;
//         flex-direction: column;
//         gap: 10px;
//         display: flex;
//         align-items: center;
//         left: 50%;
//         border-radius: 10px;
//         backdrop-filter: blur(10px);
//         border: 2px solid rgba(255, 255, 255, 0.1);
//         box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
//         padding: 50px 35px;

//         .logo {
//             font-size: 32px;
//             font-weight: 500;
//             line-height: 42px;
//             text-align: center;
//             color: #f0f0f0; /* Lightgrayish Blue */
//         }

//         .smalltext {
//             color: #b0c6de; /* Lightgrayish Blue */
//             font-size: 16px;
//         }

//         .auth-link {
//             color: #b0c6de; /* Lightgrayish Blue */
//         }

//         .google-signin-btn {
//             display: flex;
//             align-items: center;
//             background-color: white;
//             color: #28a07c; /* Seafoam Green */
//             border: 1px solid #b0c6de;
//             border-radius: 5px;
//             padding: 8px 16px;
//             font-weight: bold;
//             cursor: pointer;
//             gap: 10px;
//         }

//         .google-signin-icon {
//             width: 24px;
//             height: 24px;
//         }

//         .formlogin {
//             height: 520px;
//             width: 400px;
//             background-color: rgba(38, 166, 91, 0.842); /* Seafoam Green */
//             position: absolute;
//             transform: translate(-50%, -50%);
//             top: 50%;
//             left: 50%;
//             display: flex;
//             border-radius: 10px;
//             backdrop-filter: blur(10px);
//             border: 2px solid rgba(255, 255, 255, 0.1);
//             box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
//             padding: 50px 35px;
//             gap: 10px;
//             align-items: center;
//         }

//         .formlabel {
//             color: #b0c6de; /* Lightgrayish Blue */
//             display: block;
//             margin-top: 10px;
//             margin-bottom: 10px;
//             font-size: 20px;
//             font-weight: 500;
//         }

//         .formbox {
//             display: block;
//             height: 50px;
//             width: 100%;
//             background-color: rgba(255, 255, 255, 0.1);
//             border-radius: 3px;
//             padding: 0 10px;
//             margin-top: 15px;
//             font-size: 14px;
//             font-weight: 300;
//             color: #f0f0f0; /* Lightgrayish Blue */
//         }

//         .logo {
//             color: #f0f0f0; /* Lightgrayish Blue */
//             font-weight: bold;
//             font-size: 24px;
//         }

//         .title {
//             color: #f0f0f0; /* Lightgrayish Blue */
//             font-weight: bold;
//             font-size: 12px;
//         }

//         form {
//             display: flex;
//             flex-direction: column;
//             gap: 15px;

//             input {
//                 padding: 15px;
//                 border: none;
//                 border-bottom: 1px solid #28a07c;
//                 width: 250px;

//                 &::placeholder {
//                     color: rgba(184, 207, 196, 0.4);
//                 }
//             }

//             button {
//                 background-color: #12325c; /* Dark Blue */
//                 color: white;
//                 padding: 10px;
//                 font-weight: bold;
//                 border: none;
//                 cursor: pointer;
//             }

//             label {
//                 display: flex;
//                 align-items: center;
//                 gap: 10px;
//                 color: #28a07c; /* Seafoam Green */
//                 font-size: 14px;
//                 cursor: pointer;

//                 img {
//                     width: 40px;
//                 }
//             }
//         }

//         p {
//             color: #b0c6de; /* Lightgrayish Blue */
//             font-size: 12px;
//             margin-top: 10px;
//         }
//     }
// }

// .headernav {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     z-index: 100;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     height: 80px;
//     padding: 0 2rem;
//     background-color: rgba(0, 38, 77, 0); /* Dark Blue */
//     color: #b0c6de; /* Lightgrayish Blue */
//     transition: backdrop-filter 0.3s ease-in-out;
// }

// .nav-blur {
//     backdrop-filter: blur(20px);
//     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
// }

// .nav a {
//     margin: 0 1rem;
//     color: #b0c6de; /* Lightgrayish Blue */
//     text-decoration: none;
// }

// .nav a:hover {
//     color: gray;
// }

// .navlink-a,
// .navlink-b,
// .navlink-logout {
//     font-size: 1.4rem;
//     color: white;
//     text-decoration: none;
// }

// .navlink-logout {
//     background-color: #12325c; /* Dark Blue */
//     padding: 8px 20px;
//     border: none;
//     border-radius: 5px;
//     cursor: pointer;
// }

// .navlink-logout:hover {
//     background-color: #0a1f3d; /* Darker Blue */
// }

// .logoimg {
//     width: 147.48px;
//     height: 48.6px;
//     border-radius: 8px;
// }

// .input {
//     background-color: #12325c; /* Dark Blue */
//     height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     position: relative;
//     overflow: hidden;

//     img {
//         padding: 5px;
//         width: 50px;
//     }
// }

// body {
//     font-family: 'Roboto', sans-serif;
//     margin: 0;
//     padding: 0;
//     background-color: #12325c; /* Dark Blue */
// }

// .upload-page {
//     background-color: rgba(0, 38, 77, 0.85); /* Dark Blue */
//     padding: 30px;
//     min-height: 100vh;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: flex-start;
//     color: #f0f0f0; /* Lightgrayish Blue */
//     backdrop-filter: blur(10px);
//     border-radius: 15px;
//     box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
//     position: relative;
//     overflow: hidden;
// }

// .input-container {
//     text-align: center;
//     margin-top: 50px;
//     width: 100%;
//     max-width: 800px;
// }

// .info-text {
//     padding: 20px 2rem;
//     font-size: 2rem;
//     margin-bottom: 25px;

//     span {
//         font-weight: bold;
//         color: #28a07c; /* Seafoam Green */
//     }
// }

// .send-container {
//     margin-bottom: 20px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

// .file-input {
//     width: 100%;
//     max-width: 300px;
//     padding: 12px 20px;
//     font-size: 1rem;
//     border: 2px solid #28a07c; /* Seafoam Green */
//     border-radius: 8px;
//     background-color: rgba(38, 166, 91, 0.42); /* Seafoam Green */
//     color: whitesmoke;
//     cursor: pointer;
//     transition: all 0.3s ease;
//     display: block;
//     text-align: center;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//     margin-bottom: 20px;

//     &:hover {
//         background-color: rgba(224, 247, 255, 0.9);
//         border-color: #63c0e8;
//         box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
//         color: slategray;
//     }

//     &:focus {
//         outline: none;
//         border-color: #4b9cd3;
//         box-shadow: 0 0 0 3px rgba(75, 156, 211, 0.3);
//     }
// }

// .upload-button,
// .download-button {
//     background-color: rgba(38, 166, 91, 0.42); /* Seafoam Green */
//     color: whitesmoke;
//     padding: 15px 30px;
//     border: none;
//     border-radius: 5px;
//     cursor: pointer;
//     font-size: 1.2rem;
//     margin-top: 10px;
//     margin-bottom: 30px;
//     transition: background-color 0.3s ease;

//     &:hover {
//         background-color: #63c0e8;
//     }
// }

// .preview-image {
//     max-width: 100px;
//     margin: 10px;
//     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
//     border-radius: 8px;
// }

// .status-message,
// .extra-info {
//     font-size: 1.2rem;
//     color: #ddd;
//     margin-top: 15px;
//     font-weight: 1000;
// }

// .drag-drop-area {
//     width: 100%;
//     max-width: 800px;
//     height: 200px;
//     border: 2px dashed #28a07c; /* Seafoam Green */
//     border-radius: 8px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin-top: 30px;
//     transition: background-color 0.3s;
//     margin-bottom: 30px;
//     background: rgba(0, 38, 77, 0.15); /* Dark Blue */

//     p {
//         font-size: 1.2rem;
//         color: #f0f0f0; /* Lightgrayish Blue */
//     }

//     &.drag-over {
//         background-color: rgba(135, 206, 235, 0.1);
//     }
// }

// .scroll-down-arrow {
//     cursor: pointer;
//     font-size: 3rem;
//     color: #f0f0f0; /* Lightgrayish Blue */
//     position: absolute;
//     bottom: 10px;
//     left: 50%;
//     transform: translateX(-50%);
//     transition: transform 0.3s ease;

//     &:hover {
//         transform: translateX(-50%) translateY(-5px);
//     }
// }

// .instructions-section {
//     background-color: whitesmoke;
//     padding: 50px 20px;
//     width: 100%;
//     text-align: center;
//     color: #333;
//     margin-top: 0px;
//     border-radius: 15px;
//     box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
// }

// .instructions-title {
//     font-size: 2rem;
//     margin-bottom: 30px;
//     text-align: center;
//     align-items: center;
//     color: rgba(0, 38, 77, 0.85); /* Dark Blue */
// }

// .instruction-step {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     margin-bottom: 40px;
//     text-align: left;

//     .step-text {
//         width: 50%;

//         h3 {
//             font-size: 1.5rem;
//             margin-bottom: 10px;
//             color: rgba(0, 38, 77, 0.85); /* Dark Blue */
//         }

//         p {
//             font-size: 1.2rem;
//             color: rgba(0, 38, 77, 0.85); /* Dark Blue */
//         }
//     }

//     .slanted-image {
//         width: 40%;
//         transform: rotateY(15deg);
//         box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
//         border-radius: 8px;
//     }
// }

// .alternate .step-text {
//     order: 2;
//     text-align: left;
// }

// .blob {
//     position: absolute;
//     width: 500px;
//     height: 500px;
//     background: linear-gradient(
//         180deg,
//         rgba(38, 166, 91, 0.42) 31.77%, /* Seafoam Green */
//         #5dbb9d 100%
//     );
//     mix-blend-mode: color-dodge;
//     animation: move 25s infinite alternate;
//     transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
//     z-index: -1;
// }

// .blob:hover {
//     width: 520px;
//     height: 520px;
//     filter: blur(30px);
//     box-shadow:
//         inset 0 0 0 5px rgba(255, 255, 255, 0.6),
//         inset 100px 100px 0 0px #38a6ac,
//         inset 200px 200px 0 0px #184f8d,
//         inset 300px 300px 0 0px #2b86c5;
// }

// @keyframes move {
//     from {
//         transform: translate(-100px, -50px) rotate(-90deg);
//         border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
//     }

//     to {
//         transform: translate(500px, 100px) rotate(-10deg);
//         border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
//     }
// }

// @media (max-width: 768px) {
//     .instruction-step {
//         flex-direction: column;
//         text-align: center;

//         .step-text {
//             width: 100%;
//             text-align: center;
//         }

//         .slanted-image {
//             width: 80%;
//             margin-top: 20px;
//             transform: rotateY(0);
//         }
//     }

//     .drag-drop-area {
//         width: 90%;
//         height: 150px;
//     }
// }

// .homepage-container {
//     font-family: 'Poppins', sans-serif;
//     color: white;

//     .hero-section {
//         position: relative;
//         height: 100vh;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         background: linear-gradient(135deg, #12264c, #1c3b5d, #234d6c); /* Dark Blue Gradient */
//         overflow: hidden;

//         .background-video {
//             position: absolute;
//             top: 0;
//             left: 0;
//             width: 100%;
//             height: 100%;
//             object-fit: cover;
//             opacity: 0.2;
//             filter: blur(2px);
//         }

//         .hero-content {
//             position: relative;
//             z-index: 2;
//             text-align: center;
//             align-items: center;
//             max-width: 700px;
//             color: #f0f0f0; /* Lightgrayish Blue */
//             animation: fadeIn 2s ease-in-out;

//             h1.hero-title {
//                 font-size: 7rem;
//                 font-weight: 600;
//                 margin-bottom: 15px;
//                 text-shadow: 0px 0px 20px rgba(0, 255, 255, 0.7);
//             }

//             .heroimg {
//                 width: 737.4px;
//                 height: 243px;
//                 margin-right: 10px;
//             }

//             p.hero-subtitle {
//                 font-size: 1.5rem;
//                 margin-bottom: 20px;
//                 color: #a0c4ff;
//             }

//             .start-button {
//                 padding: 15px 30px;
//                 font-size: 1.2rem;
//                 background: linear-gradient(45deg, #28a07c, #0a1f3d); /* Seafoam Green to Dark Blue */
//                 border: none;
//                 border-radius: 30px;
//                 color: white;
//                 cursor: pointer;
//                 align-items: center;
//                 box-shadow: 0 5px 15px rgba(47, 184, 255, 0.3); /* Seafoam Green */
//                 transition: all 0.3s ease;

//                 &:hover {
//                     transform: scale(1.05);
//                     box-shadow: 0 5px 20px rgba(38, 166, 91, 0.5); /* Seafoam Green */
//                 }
//             }
//         }
//     }

//     .tutorial-section {
//         padding: 60px 20px;
//         text-align: center;
//         background: #1c1c1c;
//         color: #f0f0f0; /* Lightgrayish Blue */

//         h2 {
//             font-size: 2.5rem;
//             margin-bottom: 40px;
//             text-shadow: 0px 0px 10px rgba(0, 255, 255, 0.6); /* Blue shadow */
//         }

//         .video-container {
//             position: relative;
//             display: flex;
//             justify-content: center;

//             .tutorial-video {
//                 width: 80%;
//                 height: 400px;
//                 border: 3px solid #28a07c; /* Seafoam Green */
//                 border-radius: 15px;
//                 box-shadow: 0px 0px 15px rgba(0, 255, 255, 0.5); /* Light blue glow */
//             }

//             .left-design-element,
//             .right-design-element {
//                 width: 50px;
//                 height: 50px;
//                 background: #28a07c; /* Seafoam Green */
//                 border-radius: 50%;
//                 position: absolute;
//                 box-shadow: 0 0 15px rgba(38, 166, 91, 0.6);
//             }

//             .left-design-element {
//                 left: -60px;
//                 top: 100px;
//             }

//             .right-design-element {
//                 right: -60px;
//                 top: 100px;
//             }
//         }
//     }

//     .viewer-section {
//         padding: 60px 20px;
//         text-align: center;
//         background: linear-gradient(135deg, #12264c, #1c3b5d, #234d6c); /* Dark Blue Gradient */
//         color: #f0f0f0; /* Lightgrayish Blue */

//         h2 {
//             font-size: 2.5rem;
//             margin-bottom: 40px;
//             text-shadow: 0px 0px 10px rgba(0, 255, 255, 0.6); /* Blue glow */
//         }

//         .model-viewer {
//             width: 100%;
//             height: 500px;
//             background-color: #1c1c1c;
//             border: 3px solid #28a07c; /* Seafoam Green */
//             border-radius: 15px;
//             box-shadow: 0px 0px 15px rgba(38, 166, 91, 0.5); /* Seafoam Green */
//         }
//     }

//     @keyframes fadeIn {
//         0% {
//             opacity: 0;
//         }

//         100% {
//             opacity: 1;
//         }
//     }
// }

// .credits-section {
//     padding: 50px 20px;
//     background-color: #f0f0f0;
//     color: #333;
//     text-align: center;

//     h2 {
//         font-size: 2.5rem;
//         margin-bottom: 40px;
//         text-shadow: 0px 0px 10px rgba(0, 255, 255, 0.6);
//     }

//     .credits-container {
//         display: flex;
//         justify-content: space-around;
//         align-items: center;
//         flex-wrap: wrap;
//         gap: 20px;

//         .credit-item {
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             background: #1c1c1c;
//             padding: 20px;
//             border-radius: 15px;
//             box-shadow: 0px 0px 15px rgba(0, 255, 255, 0.5);
//             max-width: 250px;
//             color: #f0f0f0; /* Lightgrayish Blue */

//             .credit-image {
//                 width: 150px;
//                 height: 150px;
//                 object-fit: cover;
//                 border-radius: 50%;
//                 margin-bottom: 15px;
//                 box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
//             }

//             .credit-details {
//                 text-align: center;

//                 h3 {
//                     font-size: 1.5rem;
//                     margin-bottom: 10px;
//                 }

//                 p {
//                     font-size: 1rem;
//                     margin: 5px 0;
//                 }
//             }
//         }
//     }
// }